<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dante report</title>

    <script src="msa.min.gz.js"></script>
    <script src="https://gen-clc.cusp.uniba.sk/dante/msa.min.gz.js"></script>

    <script src="plotly-2.14.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="jquery-3.6.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <link rel="stylesheet" href="styles.css">
</head>

<body class="valo v-app">

<div id="sample_name" style="display: none">{{ sample }}</div>

<!-- Tab links -->
<h2 id="content">Content (Sample: {{ sample }} Version: Remastr v{{ version }})</h2>
<div class="tab">
<table class="tg" id="content-tg">
    <thead>
        <tr>
            <th class="tg-s6z2">Motif</th>
        </tr>
    </thead>
    <tbody>
        {% for (motif_name, motif) in table %}
        <tr>
            <td class="tg-s6z2">
                <a href="#{{ motif_name }}" class="tablinks" onclick="openTab(event, '{{ motif_name }}'); $('.{{ motif_name }}').trigger('content-change');">{{ motif }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready( function () { {
    $('#content-tg').DataTable();
} } );
</script>

</div>


<!-- Tab content -->
{% for (motif_id, nomenclatures, rows_list, ms_list) in tabs %}
<div class="tabcontent" id="{{ motif_id }}" style="display: none">
<h2 class="summary_nomenclatures">Nomenclatures</h2>
<table class="nomtg">
    <tbody>
        {% for (count, ref, parts) in nomenclatures %}
        <tr>
            <td>{{ count }}</td>
            <td>{{ ref }}</td>
            {{ parts }}
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2 class="summary">Summary table</h2>
<table class="tg" id="tg-{{ motif_id }}">
    <thead>
        <tr>
            <th class="tg-s6z2" rowspan="3">Motif</th>
            <th class="tg-s6z2" rowspan="3">Sequence</th>
            <th class="tg-s6z2" colspan="5">Allele 1</th>
            <th class="tg-s6z2" colspan="5">Allele 2</th>
            <th class="tg-s6z2" rowspan="3">Overall<br>confidence</th>
            <th class="tg-s6z2" colspan="2">Errors per read</th>
            <th class="tg-s6z2" colspan="2">Reads</th>
        </tr>
        <tr>
            <td class="tg-smaller" rowspan="2">prediction</td>
            <td class="tg-smaller" rowspan="2">confidence</td>
            <td class="tg-smaller" rowspan="2">reads</td>
            <td class="tg-smaller" colspan="2">Errors per read</td>
            <td class="tg-smaller" rowspan="2">prediction</td>
            <td class="tg-smaller" rowspan="2">confidence</td>
            <td class="tg-smaller" rowspan="2">reads</td>
            <td class="tg-smaller" colspan="2">Errors per read</td>
            <td class="tg-smaller" rowspan="2">indel</td>
            <td class="tg-smaller" rowspan="2">mismatch</td>
            <td class="tg-smaller" rowspan="2">full</td>
            <td class="tg-smaller" rowspan="2">partial</td>
        </tr>
        <tr>
            <td class="tg-smaller">indel</td>
            <td class="tg-smaller">mismatch</td>
            <td class="tg-smaller">indel</td>
            <td class="tg-smaller">mismatch</td>
        </tr>
    </thead>
    <tbody>
        {% for row in rows_list %}
        {% set motif_name, motif_nomenclature, allele1, conf_allele1, reads_a1, indels_a1, mismatches_a1, allele2, conf_allele2, reads_a2, indels_a2, mismatches_a2, confidence, indels, mismatches, quality_reads, one_primer_reads = row %}
        <tr>
            <td class="tg-s6z2">{{ motif_name }}</td>
            <td class="tg-s6z2">{{ motif_nomenclature }}</td>
            <td class="tg-s6z2">{{ allele1 }}</td>
            <td class="tg-s6z2">{{ conf_allele1 }}</td>
            <td class="tg-s6z2">{{ reads_a1 }}</td>
            <td class="tg-s6z2">{{ indels_a1 }}</td>
            <td class="tg-s6z2">{{ mismatches_a1 }}</td>
            <td class="tg-s6z2">{{ allele2 }}</td>
            <td class="tg-s6z2">{{ conf_allele2 }}</td>
            <td class="tg-s6z2">{{ reads_a2 }}</td>
            <td class="tg-s6z2">{{ indels_a2 }}</td>
            <td class="tg-s6z2">{{ mismatches_a2 }}</td>
            <td class="tg-s6z2">{{ confidence }}</td>
            <td class="tg-s6z2">{{ indels }}</td>
            <td class="tg-s6z2">{{ mismatches }}</td>
            <td class="tg-s6z2">{{ quality_reads }}</td>
            <td class="tg-s6z2">{{ one_primer_reads }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready( function () {
    $('#tg-{{ motif_id }}').DataTable({scrollX: true});
} );
</script>

    {% for (motif_reps, motif_pcolor, post_bases, post_reps, errors, motif_name, motif_id, motif, result, alignment, sequence, nomenclatures) in ms_list %}
        {% if motif_reps == "" %}
        {% elif motif_pcolor == "" %}
            <h2 id="data-{{ motif_name }}">{{ motif }}</h2>
            <p>{{ sequence }}</p>
            Nomenclatures:<br>
            <table class="nomtg">
                <tbody>
                    {% for (count, ref, parts) in nomenclatures %}
                    <tr>
                        <td>{{ count }}</td>
                        <td>{{ ref }}</td>
                        {{ parts }}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            postfilter: bases {{ post_bases }} , repetitions {{ post_reps }} , max. errors {{ errors }}<br>
            alleles: {{ result }}<br>
            <table class="plots">
                <tr>
                    <td colspan="1">
                        <div class="hist {{ motif_id }}" id="hist2d-{{ motif_name }}"></div>
                    </td>
                </tr>
            </table>

            <script>
                {
                    let hist_data = {{ motif_reps }};

                    let updateGraph = () => {
                        if (document.getElementById('{{ motif_id }}').style.display === 'block') {
                            hist_data['layout'] = {
                                ...hist_data['layout'],
                                width: (window.innerWidth-50) * 0.5,
                                height: (window.innerWidth-50) * 0.45
                            };
                            Plotly.react('hist2d-{{ motif_name }}', hist_data);
                        }
                    };

                    $(document).ready(function() {
                        $('.{{ motif_id }}').bind("content-change", updateGraph);
                        window.addEventListener('resize', updateGraph, true);
                    });
                }
            </script>

            <p><a href="{{ alignment }}">Link to alignments</a></p>
            <p><a href="#content">Back to content</a></p>
        {% else %}
            <h2 id="data-{{ motif_name }}">{{ motif }}</h2>
            <p>{{ sequence }}</p>
            Nomenclatures:<br>
            <table class="nomtg">
                <tbody>
                    {% for (count, ref, parts) in nomenclatures %}
                    <tr>
                        <td>{{ count }}</td>
                        <td>{{ ref }}</td>
                        {{ parts }}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            postfilter: bases {{ post_bases }} , repetitions {{ post_reps }} , max. errors {{ errors }}<br>
            alleles: {{ result }}<br>
            <table class="plots">
                <tr>
                    <td colspan="1">
                        <div class="hist pic100 {{ motif_id }}" id="hist-{{ motif_name }}"></div>
                    </td>
                    <td colspan="1">
                        <div class="pcol pic100 {{ motif_id }}" id="pcol-{{ motif_name }}"></div>
                    </td>
                </tr>
            </table>

            <script>
                {
                    let hist_data = {{ motif_reps }};
                    let pcol_data = {{ motif_pcolor }};

                    let updateGraph = () => {
                        if (document.getElementById('{{ motif_id }}').style.display === 'block') {
                            hist_data['layout'] = {
                                ...hist_data['layout'],
                                width: (window.innerWidth-50) * 0.6,
                                height: (window.innerWidth-50) * 0.35,
                                legend: {...hist_data['layout']['legend'], x: 0.85, y: 0.85 }
                            };
                            pcol_data['layout'] = {
                                ...pcol_data['layout'],
                                width: (window.innerWidth-50) * 0.4,
                                height: (window.innerWidth-50) * 0.35
                            };
                            Plotly.react('hist-{{ motif_name }}', hist_data);
                            Plotly.react('pcol-{{ motif_name }}', pcol_data);
                        }
                    };

                    $(document).ready(function() {
                        $('.{{ motif_id }}').bind("content-change", updateGraph);
                        window.addEventListener('resize', updateGraph, true);
                    });
                }
            </script>

            <p><a href="{{ alignment }}">Link to alignments</a></p>
            <p><a href="#content">Back to content</a></p>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";

        var tableName = `#tg-${tabName}`;
        var table = $(tableName).DataTable({
            scrollX: true,
            retrieve: true,
        });

        // Adjust columns after showing the tab and ensuring the table is visible
        setTimeout(function() {
            table.columns.adjust().draw();
        }, 0); // setTimeout with 0 delay helps in cases where the layout needs to stabilize
    }
</script>
</body>
</html>

