<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dante report</title>

    <script src="msa.min.gz.js"></script>
    <script src="https://gen-clc.cusp.uniba.sk/dante/msa.min.gz.js"></script>

    <script src="plotly-2.14.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="jquery-3.6.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <link rel="stylesheet" href="styles.css">
</head>

<body class="valo v-app">

<div id="sample_name" style="display: none">{{ sample }}</div>

<!-- Tab links -->
<h2 id="content">Content (Sample: {{ sample }} Version: Remastr v{{ version }})</h2>
<div class="tab">
<table class="tg" id="content-tg">
    <thead>
        <tr>
            <th class="tg-s6z2">Motif</th>
        </tr>
    </thead>
    <tbody>
        {% for (motif_name, motif) in table %}
<tr>
    <td class="tg-s6z2">
        <a href="#{{ motif_name }}" class="tablinks"
        onclick="openTab(event, '{{ motif_name }}'); $('.{{ motif_name }}').trigger('content-change');">{{ motif }}</a>
    </td>
</tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready( function () { {
    $('#content-tg').DataTable();
} } );
</script>

</div>


<!-- Tab content -->
{% for (motif_id, nomenclatures, rows_list, ms_list) in tabs %}
<div class="tabcontent" id="{{ motif_id }}" style="display: none">
<h2 class="summary_nomenclatures">Nomenclatures</h2>
<table class="nomtg">
    <tbody>
        {{ nomenclatures }}
    </tbody>
</table>
<h2 class="summary">Summary table</h2>
<table class="tg" id="tg-{{ motif_id }}">
    <thead>
        <tr>
            <th class="tg-s6z2" rowspan="3">Motif</th>
            <th class="tg-s6z2" rowspan="3">Sequence</th>
            <th class="tg-s6z2" colspan="5">Allele 1</th>
            <th class="tg-s6z2" colspan="5">Allele 2</th>
            <th class="tg-s6z2" rowspan="3">Overall<br>confidence</th>
            <th class="tg-s6z2" colspan="2">Errors per read</th>
            <th class="tg-s6z2" colspan="2">Reads</th>
        </tr>
        <tr>
            <td class="tg-smaller" rowspan="2">prediction</td>
            <td class="tg-smaller" rowspan="2">confidence</td>
            <td class="tg-smaller" rowspan="2">reads</td>
            <td class="tg-smaller" colspan="2">Errors per read</td>
            <td class="tg-smaller" rowspan="2">prediction</td>
            <td class="tg-smaller" rowspan="2">confidence</td>
            <td class="tg-smaller" rowspan="2">reads</td>
            <td class="tg-smaller" colspan="2">Errors per read</td>
            <td class="tg-smaller" rowspan="2">indel</td>
            <td class="tg-smaller" rowspan="2">mismatch</td>
            <td class="tg-smaller" rowspan="2">full</td>
            <td class="tg-smaller" rowspan="2">partial</td>
        </tr>
        <tr>
            <td class="tg-smaller">indel</td>
            <td class="tg-smaller">mismatch</td>
            <td class="tg-smaller">indel</td>
            <td class="tg-smaller">mismatch</td>
        </tr>
    </thead>
    <tbody>
        {% for row in rows_list %}
        {{ row }}
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready( function () {
    $('#tg-{{ motif_id }}').DataTable({scrollX: true});
} );
</script>

{% for row in ms_list %}
{{ row }}
{% endfor %}
</div>
{% endfor %}

<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";

        var tableName = `#tg-${tabName}`;
        var table = $(tableName).DataTable({
            scrollX: true,
            retrieve: true,
        });

        // Adjust columns after showing the tab and ensuring the table is visible
        setTimeout(function() {
            table.columns.adjust().draw();
        }, 0); // setTimeout with 0 delay helps in cases where the layout needs to stabilize
    }
</script>
</body>
</html>

