<!DOCTYPE html>
<html lang="en">
<head>
    <title>Population report</title>
    <meta charset="UTF-8" />
    <script src="./includes/plotly-2.14.0.min.js"></script>
    <script src="./includes/jquery-3.6.1.min.js"></script>
    <script src="./includes/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./includes/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="./includes/w3.css">
    <link rel="stylesheet" type="text/css" href="./includes/styles.css">
</head>

<body>
<h1 id="name">ALS</h1>
<div>
Sequence:
{{ data["sequence"][0] }}
{% for module in data["sequence"][1:-1] %} <a href="#module_{{ loop.index }}">{{ module }}</a> {% endfor %}
{{ data["sequence"][-1] }}

<table class="tg" id="main_table" width="100%">
    <thead>
        <tr>
            <th rowspan="2">Sample</th>
            <th colspan="{{ data['sequence'][1:-1]|length }}">Nomenclature_1</th>
            <th rowspan="2">Warnings_1</th>
            <th colspan="{{ data['sequence'][1:-1]|length }}">Nomenclature_2</th>
            <th rowspan="2">Warnings_2</th>
        </tr>
        <tr>
            {% for _ in data["sequence"][1:-1] %} <th>module {{ loop.index }}</th> {% endfor %}
            {% for _ in data["sequence"][1:-1] %} <th>module {{ loop.index }}</th> {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data["main_table"] %}
        <tr>
            <td>{{ row["sample"] }}</td>
            {% for x in row["nomenclature1"] %} <td>{{ x }}</td> {% endfor %}
            <td>{% for x in row["warnings1"] %} {{ x }}<br> {% endfor %}</td>
            {% for x in row["nomenclature2"] %} <td>{{ x }}</td> {% endfor %}
            <td>{% for x in row["warnings2"] %} {{ x }}<br> {% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
$(document).ready( function() {
    $('#main_table').DataTable({scrollX: true});
} );
</script>

<div id="histogram" style="width: 950px; margin: auto;"></div>
<script>
{
    let title = "Histogram";
    let destination = "histogram"

    // let tickvals = [0, 1, 2];
    // let x = [2, 4, 5];
    // let ticktext = ["tmp", "tmp2", "tmp3"];

    let tickvals = {{ data["main_histogram"]["tickvals"] }};
    let x = {{ data["main_histogram"]["x"] }};
    let ticktext = {{ data["main_histogram"]["ticktext"] }};

    let hist_data = {
        "data":[{
            "x": x,
            "name":"Motif",
            "marker":{"color":"#636EFA"},
            "textfont":{"color":"#636EFA","size":7},
            "type":"bar",
            "orientation": "h",
            "hover":"true"
        }],
        "layout":{
            "title":{"text": title},
            "yaxis":{
                "title":{"text":"Prediction"},
                "tickmode":"array",
                "tickvals": tickvals,
                "ticktext": ticktext,
                "automargin": true
            },
            "xaxis": {"fixedrange":true,"title":{"text":"Count"}},
            "legend": {"x": 0.85, "y": 0.85 },
            "barmode":"stack",
            "hovermode":"y",
            "height": 180 + 30 * x.length
        }
    };

    Plotly.newPlot(destination, hist_data);
}
</script>

<div id="heatmap" style="width: 950px; margin: auto;"></div>
<script>
{
    // let z = [
    //   [null, 0   , 35  , 119 , 3   ],
    //   [null, null, 0   , 237 , 3   ],
    //   [null, null, null, 0   , 2   ],
    //   [null, null, null, null, 0   ],
    //   [null, null, null, null, null]
    // ];
    // let tickvals = [0, 1, 2, 3, 4, 5];
    // let ticktext = ['CGG[7]', 'CGG[3]CTG[1]CGG[4]', 'CGG[5]TGG[1]CGG[2]', 'CGG[8]', 'CTG[1]CGG[7]'];

    let z = {{ data["main_heatmap"]["z"]|replace("None", "null") }}
    let ticktext = {{ data["main_heatmap"]["ticktext"] }};
    let tickvals = {{ data["main_heatmap"]["tickvals"] }};

    let heatmap_data = {
        "data": [{
            "z": z,
            "text": z,
            "name": "Prediction heatmap",
            "colorscale": [
                [0.0, "rgb(255, 255, 255)"], [0.01, "rgb(255, 210, 0)"], [0.1, "rgb(255, 140, 0)"],
                [0.4, "rgb(255, 70, 0)"], [0.7, "rgb(230, 0  , 0)"], [1.0, "rgb(100, 0  , 0)"]
            ],
            "hovertemplate":"Allele 2: %{x}<br>Allele 1: %{y}<br>Count: %{z}",
            "texttemplate": "%{text}",
            "type": "heatmap"
        }],
        "layout": {
            "title":{"text": "Heatmap"},
            "xaxis": {
                "tickvals": tickvals,
                "ticktext": ticktext,
                "title": { "text": "Allele 2" }, "showgrid": false, "showline": false, "zeroline": false,
                "automargin": true,
                "tickangle": -90,
            },
            "yaxis": {
                "tickvals": tickvals,
                "ticktext": ticktext,
                "title": { "text": "Allele 1" }, "showgrid": false, "showline": false, "zeroline": false,
                "scaleanchor": "x",
                "automargin": true,
            },
            "width": 950,
            "height": 950,
        },
    };
    Plotly.newPlot('heatmap', heatmap_data);
}

</script>
</div>

<hr>
<hr>

{% for module in data["modules"] %}
<!-- module part -->
{% set mod_idx = loop.index %}
<h2 id="module_{{ mod_idx }}">Module {{ mod_idx }}</h2>
<div>
<table class="tg" id="table_module_{{ mod_idx }}" width="100%">
  <thead>
    <tr>
      <th rowspan="2">Sample</th>
      <th colspan="2">Allele 1</th>
      <th colspan="2">Allele 2</th>
      <th rowspan="2">Overall<br>confidence</th>
      <th colspan="2">Reads</th>
    </tr>
    <tr>
      <td>prediction</td>
      <td>confidence</td>
      <td>prediction</td>
      <td>confidence</td>
      <td>full</td>
      <td>partial</td>
    </tr>
  </thead>
  <tbody>
      {% for row in module["table"] %}
      <tr>
          <td><a href="#{{ row['sample'] }}_{{ mod_idx }}">{{ row["sample"] }}</a></td>
          <td>{{ row["a1_pred"] }}</td>
          <td>{{ row["a1_conf"] }}</td>
          <td>{{ row["a2_pred"] }}</td>
          <td>{{ row["a2_conf"] }}</td>
          <td>{{ row["conf"] }}</td>
          <td>{{ row["spanning_num"] }}</td>
          <td>{{ row["flanking_num"] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<script>
$(document).ready( function() {
    $('#table_module_{{ mod_idx }}').DataTable({scrollX: true});
} );
</script>

<h3>Heatmap</h3>
<div id="heatmap_mod_{{ mod_idx }}"></div>
<script>
{
    let z = {{ module["heatmap"]["z"]|replace("None", "null") }}
    let tickvals = {{ module["heatmap"]["tickvals"] }};
    let ticktext = {{ module["heatmap"]["ticktext"] }};
    let xlim = {{ module["heatmap"]["xlim"] }};

    let heatmap_data = {
        "data": [{
            "z": z,
            "text": z,
            "name": "Prediction heatmap",
            "colorscale": [
                [0.0, "rgb(255, 255, 255)"], [0.01, "rgb(255, 210, 0)"], [0.1, "rgb(255, 140, 0)"],
                [0.4, "rgb(255, 70, 0)"], [0.7, "rgb(230, 0  , 0)"], [1.0, "rgb(100, 0  , 0)"]
            ],
            "hovertemplate":" %{yaxis.title.text}: %{y} <br> %{xaxis.title.text}: %{x} <br> Count: %{text}",
            "texttemplate": "%{text}",
            "type": "heatmap"
        }],
        "layout": {
            "shapes": [{
                "x0": xlim, "x1": xlim, "xref": "x",
                "y0": 0  , "y1": 1  , "yref": "y domain",
                "line": { "color": "black", "width": 2 }, "opacity": 1, "type": "line",
            }, {
                "x0": 0  , "x1": 1  , "xref": "x domain",
                "y0": 0.5, "y1": 0.5, "yref": "y",
                "line": { "color": "black", "width": 2 }, "opacity": 1, "type": "line",
            }],
            "yaxis": {
                "tickvals": tickvals,
                "ticktext": ticktext,
                "title": { "text": "Allele 1" }, "showgrid": false, "showline": true, "zeroline": false,
            },
            "xaxis": {
                "tickvals": tickvals,
                "ticktext": ticktext,
                "title": { "text": "Allele 2" }, "showgrid": false, "showline": true, "zeroline": false,
            },
            "width": 750,
            "height": 750,
        },
    };
    Plotly.newPlot('heatmap_mod_{{ mod_idx }}', heatmap_data);
}
</script>

<h3>Histogram</h3>
<div id="histogram_mod_{{ mod_idx }}"></div>
<script>
{
    let y = {{ module["histogram"]["z"] }};
    let tickvals = {{ module["histogram"]["tickvals"] }};
    let ticktext = {{ module["histogram"]["ticktext"] }};
    let hist_data = {
        "data":[{
            "y": y,
            "name":"Prediction",
            "marker":{"color":"#636EFA"},
            "textfont":{"color":"#636EFA","size":7},
            "type":"bar",
            "hover":"true"
        }],
        "layout":{
            "title":{"text":"Allele histogram"},
            "xaxis":{
                "title":{"text":"Prediction"},
                "tickmode":"array",
                "tickvals": tickvals,
                "ticktext": ticktext
            },
            "yaxis": {"fixedrange":true,"title":{"text":"Count"}},
            "legend": {"x": 0.85, "y": 0.85 },
            "barmode":"stack",
            "hovermode":"x",
        }
    };

    let updateGraph = () => {
        hist_data['layout'] = {
            ...hist_data['layout'],
            width: (window.innerWidth-50) * 0.6,
            height: (window.innerWidth-50) * 0.35,
        };
        Plotly.react('histogram_mod_{{ mod_idx }}', hist_data);
    };

    $(document).ready(function() {
        updateGraph();
        // $('.motif-hist').bind("content-change", updateGraph);
        // window.addEventListener('resize', updateGraph, true);
    });
}
</script>

<h3>Per sample histograms</h3>
<a onclick="document.getElementById('histograms_{{ mod_idx }}').style.display = 'block'" style="text-decoration: underline">open</a>
<a onclick="document.getElementById('histograms_{{ mod_idx }}').style.display = 'none'" style="text-decoration: underline">close</a>
<div id="histograms_{{ mod_idx }}" style="display: none">
{% for row in module["table"] %}
<h3 id="{{ row['sample'] }}_{{ mod_idx }}">{{ row['sample'] }}</h3>
  alleles: {{ row["a1_pred"] }}  ({{ row["a1_conf"] }}) {{ row["a2_pred"] }}  ({{ row["a2_conf"] }}) total  {{ row["conf"] }}
  <br>
  <div id="hist-{{ row['sample'] }}_{{ mod_idx }}"></div>

  {% if row["histogram_data"] != None %}
  {% set spanning, flanking, inread = row["histogram_data"] %}
  <script>
      {
          let hist_data = {
              "data":[
                  {"y":{{ spanning }},"name":"Full reads",
                      "marker":{"color":"#636EFA"},"textfont":{"color":"#636EFA","size":7},"type":"bar","hover":"true"},
                  {"y":{{ flanking }},"name":"Partial reads",
                      "marker":{"color":"#CCCCCC"},"textfont":{"color":"#CCCCCC","size":7},"type":"bar","hover":"true"},
                  {"y":{{ inread }},"name":"Inread reads",
                      "marker":{"color":"#FF6600"},"textfont":{"color":"#FF6600","size":7},"type":"bar","hover":"true"}
              ],
              "layout":{
                  "title":{"text":"Histogram of repetitions"},
                  "xaxis":{
                      "title":{"text":"STR repetitions"},
                      "tickmode":"array",
                      "tickvals":[5,10,15,20,25,30,35,40],
                      "ticktext":[5,10,15,20,25,30,35,40]
                  },
                  "yaxis": {"fixedrange":true,"title":{"text":"Read counts"}},
                  "legend": {"x": 0.85, "y": 0.85 },
                  "barmode":"stack",
                  "hovermode":"x",
              }
          };

          let updateGraph = () => {
              hist_data['layout'] = {
                  ...hist_data['layout'],
                  width: (window.innerWidth-50) * 0.6,
                  height: (window.innerWidth-50) * 0.35,
              };
              Plotly.react("hist-{{ row['sample'] }}_{{ mod_idx }}", hist_data);
          };

          $(document).ready(function() {
              updateGraph();
              $(".hist-{{ row['sample'] }}_{{ mod_idx }}").bind("content-change", updateGraph);
              window.addEventListener('resize', updateGraph, true);
          });
      }
  </script>
  {% endif %}

  <!-- no alignments available -->

  <p> <a href="#name">Back to top</a> </p>
{% endfor %}
</div>
<hr>
</div>
{% endfor %}

</body>
</html>
